@import "seattletimes";

@team-primary: #808;

main.interactive {
  max-width: 630px;
  overflow: hidden;
  position: relative;
}

.map-container {
  position: relative;
  width: 100%;

  [stage="show-form"] & {
    width: ~"calc(100% - 20px)";
    position: absolute;
    z-index: -1;
  }

  .aspect-inner {
    display: block;
    padding-bottom: 80%;
    position: relative;

    @media @mobile {
      padding-bottom: 100%;
    }
  }

  leaflet-map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .drag-launchpad {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: white;
    box-shadow: 0 4px 8px fade(black, 20%);
    padding: 8px;
    border-radius: 4px;
    font-size: 15px;

    @media @mobile {
      position: static;
    }

    body:not([stage="map"]) & {
      display: none;
    }

    .pin {
      display: inline-block;
      vertical-align: middle;
      transform-origin: 50% 50%;
      float: right;
      cursor: -webkit-grab;
      cursor: grab;

      &.grabbing {
        cursor: -webkit-grabbing;
        cursor: grabbing;
      }
    }

    .find-me {
      border-radius: 4px;
      background: white;
      border: 1px solid @df-light-gray;
      padding: 4px;
      cursor: pointer;
      clear: both;

      img {
        height: 16px;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}

.form-container {
  display: none;
  background: white;
  width: 300px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 16px 16px fade(black, 20%);
  font-size: 15px;

  [stage="show-form"] & {
    display: block;
    opacity: 1;
    transform: none;
    transition: all .3s ease-in-out;
  }

  .animate-form & {
    transform: translateY(100px);
    opacity: .01;
  }

  [stage="submitting-form"] & {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    display: block;
  }

  [stage="completed-form"] & {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%) translateY(-200px);
    opacity: 0;
    z-index: 999;
    display: block;
    transition: all .3s ease-in-out;
  }

  label {
    font-size: 14px;
    display: block;
    color: @df-middle-gray;
  }

  input {
    width: 100%;
    border: none;
    border-bottom: 1px solid @df-light-gray;
    margin-bottom: 16px;

    &:focus {
      border-color: @team-primary;
    }
  }

  textarea {
    width: 100%;
    border: 1px solid @df-light-gray;
    margin-bottom: 16px;

    &:focus {
      border-color: @team-primary;
    }
  }

  .buttons {
    .display-flex();
    .justify-content(space-between);
  }

  button {
    .flex(0 0 45%);
    background: white;
    border: 1px solid @df-middle-gray;
    cursor: pointer;
    transition: all .2s linear;
    padding: 8px;

    &:hover, &:focus {
      background: @df-light-gray;
    }

    &.submit-form {
      border-color: @team-primary;
      color: @team-primary;
    }

    &.cancel-form {
      color: @df-middle-gray;
    }
  }
}